.sidebar {
  background-color: #000000;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  .sidebar-content {
    display: grid;
    grid-template-rows: 5.375rem 5.375rem 5.375rem 5.375rem 5.375rem 5.375rem 5.375rem;
    padding: 0 1.515rem;

    .icon-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      font-family: Filson Soft;

      .logo {
        margin-bottom: 0.25rem;
      }
    }

    .community-buttons {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;
    }
  }
}

@media only screen and (max-width: 1105px) {
  .sidebar {
    display: none;
  }
}
