.layout {
  position: relative;
  display: grid;
  grid-template-columns: 6.125rem calc(100vw - 6.1544rem);

  .content {
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 2.5rem;
  }
}
