.crabada-chart {
  display: flex;
  width: 100%;
  background: linear-gradient(180deg, #001431 0%, #000d1f 100%);
  border: 0.0625rem solid #1370f6;
  border-radius: 0.25rem;

  .crabada-chart-content {
    display: flex;
    width: 100%;
    height: 100%;
    column-gap: 3rem;
    box-sizing: border-box;
    padding: 1.5rem 3.1875rem 2.1875rem 2.8125rem;

    .crabada-header-chart-container {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;

      .chart-header {
        display: flex;
        justify-content: space-between;
        padding-left: 1.1875rem;

        .chart-title {
          display: flex;
          flex-direction: column;
          row-gap: 0.2rem;
          font-family: Filson Soft;
          color: white;

          .chart-title-first-row {
            padding-left: 0.25rem;
            font-size: 0.875rem;
          }

          .gray-content {
            color: #a4a4a4;
          }

          .todays-low {
            padding-right: 0.3956rem;
          }

          .chart-title-second-row {
            font-size: 1.75rem;
          }
        }

        .all-crabs-buttons {
          display: flex;
          align-items: flex-end;

          .all-crabs-button {
            line-height: 0.875rem;
            border: 0;
            font-family: Filson Soft;
            font-size: 0.875rem;
            font-weight: 300;
            padding: 0.625rem 4.2031rem;
            background-color: #1370f6;
            border-radius: 0.25rem;
            color: #ffff;
            cursor: pointer;
          }
        }
      }

      .chart {
        width: 56rem;
        height: 18.9375rem;
        position: relative;
        font-family: Filson Soft;
        font-size: 0.5625rem;
        color: #ffff;

        .company-black-icon {
          position: absolute;
          margin: auto;
          inset: 0;
          bottom: 2.1875rem;
          text-align: center;
        }
      }
    }

    .chart-legends {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      row-gap: 0.5rem;

      .chart-legends-title {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 1021px) {
  .crabada-chart {
    background: linear-gradient(180deg, #001431 0%, #000d1f 100%) !important;
  }
}

@media only screen and (max-width: 1220px) {
  .crabada-chart {
    border: 0;
    background: transparent;

    .crabada-chart-content {
      flex-direction: column;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
      row-gap: 20px;

      .chart {
        width: auto !important;
      }

      .chart-legends {
        padding: 16px;
        margin-left: 2.5px;
        background-color: #001a41;
        box-sizing: border-box;
        max-width: 25rem;

        .chart-legends-title {
          display: block;
          font-family: Filson Soft;
          color: #ffff;
          font-size: 0.75rem;
        }
      }

      .chart-header {
        padding-left: 4.4375rem !important;
      }

      .all-crabs-buttons {
        display: none !important;
      }

      .chart-title-first-row {
        font-weight: 500;
      }

      .chart-title-second-row {
        font-size: 1.5rem !important;
      }
    }
  }
}
